@import url("bootstrap-glyphicons.css");
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.the-icons {
  font-size: 25px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#calendario {
    background-color: white;
}

#calendario .calendario-semana > div {
    border: 1px solid rgb(196, 196, 196);
    padding: 20px;
    margin: 0px;

    text-align: center;

    width: 14%;    
}

#calendario .calendario-semana > div.calendario-dia {
    min-height: 150px;
}

#calendario .calendario-encabezado {
    margin-top: 20px;
}

#calendario .calendario-encabezado .calendario-semana > div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#calendario .calendario-dia-encabezado {
    font-weight: bold;
    color: #337ab7;
}

#calendario .calendario-dia-encabezado:nth-child(1)::before {
    content: 'Lunes'
}
#calendario .calendario-dia-encabezado:nth-child(2)::before {
    content: 'Martes'
}
#calendario .calendario-dia-encabezado:nth-child(3)::before {
    content: 'Miércoles'
}
#calendario .calendario-dia-encabezado:nth-child(4)::before {
    content: 'Jueves'
}
#calendario .calendario-dia-encabezado:nth-child(5)::before {
    content: 'Viernes'
}
#calendario .calendario-dia-encabezado:nth-child(6)::before {
    content: 'Sábado'
}
#calendario .calendario-dia-encabezado:nth-child(7)::before {
    content: 'Domingo'
}

#calendario .calendario-dia {   
    padding-top: 0px !important;
    padding-right: 5px !important;
    text-align: right !important;
}

#calendario .calendario-dia-fuera-mes {
    color: rgb(196, 196, 196);
}

#calendario .calendario-dia-hoy {
    background-color: rgb(253, 255, 220);
}

#calendario .calendario-dia-hoy > div {
    font-weight: bold;
}

#calendario .calendario-evento {
    color: white;
    background-color: #337ab7;

    text-align: left;

    font-size: 0.85em;
    line-height: 1.3;

    border-radius: 4px;

    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;

    display: block;
}

#calendario .calendario-evento[tipo="entrenamiento"] {
    color: white !important;
    background-color: #337ab7 !important;    
}

#calendario .calendario-evento[tipo="amistoso"] {
    color: white !important;
    background-color: #2da533 !important;    
}

#calendario .calendario-evento[tipo="evento"] {
    color: white !important;
    background-color: #a12da5 !important;    
}

#calendario .calendario-evento[tipo="torneo"] {
    color: white !important;
    background-color: #a3a52d !important;    
}

#calendario .calendario-dia > a:nth-child(n+5) span {
    display: none;
}

#calendario .calendario-dia > a:nth-child(5)::after {
    content: '...';
    color: white;
    text-align: left;

    font-size: 0.85em;
    line-height: 1.3;

    background-color: #337ab7;
    border-radius: 4px;

    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

#calendario .calendario-dia fecha {
    margin-right: 5px;    
}

#calendario .calendario-dia span[ofDay] > fecha:not([inicio="true"]) {
    visibility: hidden;
}

#calendario .calendario-dia span[ofDay] > contenido:not([inicio="true"]) {
    visibility: hidden;
}

#calendario .calendario-dia fecha {
    font-weight: bold;    
}

#calendario .calendario-evento {
    margin-top: 3px; 
    margin-left: -15px !important;
    
    overflow: hidden;
    white-space: nowrap;    
    text-overflow: ellipsis;    
}

#calendario .calendario-evento div {
    position: absolute;
    z-index: 1;

    top: 27px;
    left: 44px;

    display: inline-block;

    height: 1.5em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

#calendario .calendario-dia > div {
    margin-bottom: 5px !important;
}

#calendario .calendario-dia a {
    text-decoration: none;
}

@media  (max-width: 700px){
    #calendario {
        padding: 0px !important;
        margin: 0px !important;
    }

    #calendario .calendario-dia {
        min-height: 170px !important;    
    }

    #calendario .calendario-evento {
        padding-top: 2px;
        padding-bottom: 2px;

        margin-top: 8px;
        margin-bottom: 8px;

        font-size: 14px;
    }

    #calendario .calendario-evento div {
        top: 30px !important;
        left: 50px !important;
    }

    #calendario span[size="grande"] {
        /* Se modifica segun dayTo y monthTo */
        width: 600% !important;
    }

    #calendario .calendario-dia-encabezado:nth-child(1)::before {
        content: 'L'
    }
    #calendario .calendario-dia-encabezado:nth-child(2)::before {
        content: 'M'
    }
    #calendario .calendario-dia-encabezado:nth-child(3)::before {
        content: 'X'
    }
    #calendario .calendario-dia-encabezado:nth-child(4)::before {
        content: 'J'
    }
    #calendario .calendario-dia-encabezado:nth-child(5)::before {
        content: 'V'
    }
    #calendario .calendario-dia-encabezado:nth-child(6)::before {
        content: 'S'
    }
    #calendario .calendario-dia-encabezado:nth-child(7)::before {
        content: 'D'
    }

}

@media (max-width: 560px){
    #calendario span[size="grande"] {
        /* Se modifica segun dayTo y monthTo */
        width: 104% !important;
    }
    
    #calendario span[size="grande"] div {
        /* Se modifica segun dayTo y monthTo */
        width: 85% !important;
    }    

    #calendario .calendario-semana > div {
        width: 100%;
    }    

    #calendario a:nth-child(n+5) span {
        display: block;
    }

    #calendario a:nth-child(5)::after {
        content: none;
    }
    #calendario .calendario-encabezado {
        display: none;
    }

    #calendario .calendario-evento {
        display: block;
        padding-top: 3px; 
        padding-bottom: 3px; 
        
        overflow: hidden;
        white-space: nowrap;    
        text-overflow: ellipsis;                
    }

    #calendario .calendario-dia:nth-child(n+1):nth-child(-n+7):before {
        font-weight: bold;
        font-size: 20px;

        color: #337ab7;
    }

    #calendario .calendario-evento div {
        top: 60px !important;
        left: 52px !important;
    }

    #calendario .calendario-dia span[ofDay] > fecha:not([inicio="true"]) {
        visibility: visible;
    }

    #calendario .calendario-dia span[ofDay] > contenido:not([inicio="true"]) {
        visibility: visible;
    }

    #calendario .calendario-dia:nth-child(1):before {
        content: 'Lunes';
    }

    #calendario .calendario-dia:nth-child(2):before {
        content: 'Martes';
    }

    #calendario .calendario-dia:nth-child(3):before {
        content: 'Miércoles';
    }

    #calendario .calendario-dia:nth-child(4):before {
        content: 'Jueves';
    }

    #calendario .calendario-dia:nth-child(5):before {
        content: 'Viernes';
    }

    #calendario .calendario-dia:nth-child(6):before {
        content: 'Sábado';
    }

    #calendario .calendario-dia:nth-child(7):before {
        content: 'Domingo';
    }

}